@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap);
*{scroll-behavior:smooth;}
body{
font-family: open sans,roboto, sans-serif;
line-height:1.625;
  font-size: 15px;
  color: #444;
  margin: 0;
  background-color: #efe9e9;
}
.fixed-height-scroll {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
}
img{
width: 100%;
}
.custom-nav-link {
    color: #ffffff !important;
  }
  .custom-nav-link:hover {
    color: #ffcc00 !important;
  }

  .custom-footer-link {
  color: #ffffff !important;
  }
  .custom-footer-link:hover {
  color: #ffcc00 !important;
  }
.list-group-item {
      padding: 1rem 1.5rem;
      margin-bottom: 0.5rem;
      border: none;
      border-radius: 0.25rem;
      background-color: #f8f9fa;
    }
    .list-group-item strong {
      display: block;
      margin-bottom: 0.5rem;
      color: #343a40;
    }
    .list-group-item code {
      background-color: #e9ecef;
      padding: 0.2rem 0.4rem;
      border-radius: 0.25rem;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #004085;
    }
    .container h3 {
      color: #343a40;
    }