@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap);
*{scroll-behavior:smooth;}
body{
font-family: open sans,roboto, sans-serif;
line-height:1.625;
  font-size: 15px;
  color: #444;
  margin: 0;
  background-color: #efe9e9;
}
.fixed-height-scroll {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
}
img{
width: 100%;
}
.reward {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
  }
  .reward th, td {
  text-align: left;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  transition: all 0.2s ease-in-out;
  }
  .reward th {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  }
  .reward tr:last-child td {
  border-bottom: none;
  }
  .reward tr:nth-child(even) {
  background-color: #f2f2f2;
  }
  .reward .date {
  color: #999;
  }
  .reward td{
  word-break: break-all;
  }