<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}/"><i class="bi bi-gift-fill"></i> <b>Slotpark Bonus Code</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link custom-nav-link" href="{{ .Site.BaseURL }}/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-nav-link" href="{{ .Site.BaseURL }}/p/about-us.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-nav-link" href="{{ .Site.BaseURL }}/p/contact-us.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ .Site.BaseURL }}/p/privacy-policy.html">Privacy Policy</a></li>
              <li><a class="dropdown-item" href="{{ .Site.BaseURL }}/p/disclaimer.html">Disclaimer</a></li>
              <li><a class="dropdown-item" href="{{ .Site.BaseURL }}/p/dmca.html">DMCA</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>