<div class="container mt-4">
    <h3>Aktuelle Bonus Codes für Juli 2024</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Bonus Code für den 4. Juli 2024:</strong> <code>c4f6m8</code> - <a href="#" class="btn btn-primary btn-sm">Bonus einlösen</a>
      </li>
      <li class="list-group-item">
        <strong>Bonus Code für den 3. Juli 2024:</strong> <code>v2f6kj</code> - <a href="#" class="btn btn-primary btn-sm">Bonus einlösen</a>
      </li>
      <li class="list-group-item">
        <strong>Bonus Code für den 2. Juli 2024:</strong> <code>csaqa1</code> - <a href="#" class="btn btn-primary btn-sm">Bonus einlösen</a>
      </li>
    </ul>
  </div>