<div class="container mt-2 mb-3">
    <h3>Aktuelle Bonus Codes für Juli 2024</h3>
    <div class="card mb-2">
      <div class="card-body">
        <strong>Bonus Code für den 4. Juli 2024:</strong> <code>c4f6m8</code> - <a href="#" class="btn btn-primary btn-sm">Bonus einlösen</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <strong>Bonus Code für den 3. Juli 2024:</strong> <code>v2f6kj</code> - <a href="#" class="btn btn-primary btn-sm">Bonus einlösen</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <strong>Bonus Code für den 2. Juli 2024:</strong> <code>csaqa1</code> - <a href="#" class="btn btn-primary btn-sm">Bonus einlösen</a>
      </div>
    </div>
  </div>